.container{
  width: 600px;
}

img{
  width: 200px;
}

.form-container input, .form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: "Noto Sans KR", sans-serif;
  outline: 0;
}

.form-container input:focus, .form-container textarea:focus{
  border : 1px solid rgb(52, 70, 172)
}

.form-container textarea{
  height: 300px;
}

.form-container button{
  width: 100%;
  padding: 10px;
  background-color: rgb(36, 48, 114);
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-container button:hover{
  background-color: rgb(11, 19, 46);
  transition: 0.3s;
}

.post-list{
  margin-top: 25px;
}

.post-item{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #eee;
  box-shadow: 0 0 5px #eee;
  margin-bottom: 10px;
}

.post-item div span:nth-child(1){
  margin-right: 20px;
}

.deleteBtn{
  border: 0;
  background-color: lightslategray;
  color: #fff;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}